# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
custom_components/circadian_lighting/.idea/**
image
image/**

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*.py
!*.dash
!*.js
!*.disable
!.travis.yml
!travis_secrets.yaml

# This is the folder
!integrations
!integrations/**
!lovelace
!lovelace/**
!custom_components
!custom_components/**
custom_components/**/*.pyc
!appdaemon
!appdaemon/**
!automations
!automations/**
!blueprints
!blueprints/**
!customizations
!customizations/**
!deps
!deps/**
!entities
!entities/**
!esphome
!esphome/**
!scenes
!scenes/**
!scripts
!scripts/**
!themes
!themes/**
!tts
!tts/**
!www
!www/**

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
