# Example .gitignore file for your config dir.

# You can whitelist files/folders with !, these will not be ignored.
/custom_components/archive
*.pyc

# Ignore folders.
image
home-assistant*
.vscode
.storage/*
.cloudyamllint_configuration
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

# don't ignore secret in stubs
!.stubs/secrets.yaml
aircast.xml
traccar.xml
.HA_VERSION
!.storage/core.area_registry
.source_ssh